body{
    border:3px solid #cccccc;
    background-color:#cccccc;
    margin:0 auto;
    padding:50px;
    width:500px;
    
}
h1{
    text-align:center;
    font:30px;
}

h2{
    font:25px;
    margin-top:5px;
}

div{
    background-color:#ffffff;
    margin-bottom:40px;
    padding:30px;
}

li{
    list-style-type: square;
    margin-top:5px;
    margin-bottom:5px;
}

p{
    background-color:#cccccc;
    padding-top:10px;
    padding-left:10px;
    padding-bottom:10px;
    margin-bottom:0px;
    
}
dt{
    border-left:10px solid #0000ff;
    border-bottom:1px dotted #0000ff;
    font-weight:bold;
    padding-left:10px;
}
dd{
    margin-left:10px;
    margin-bottom:20px;
}
.red{
    color:#ff0000;
}
.red_border{
    border:3px solid #ff0000;
}
.blue{
    color:#0000ff;
}
.blue_border{
    border:3px solid #0000ff;
}
.pink{
    background-color:#FF9999;
}
.yellow{
    color:#ffff00;
}

